# ігнорування системних файлів
.DS_Store
Thumb.db

#Ігнорування конфігураційних файлів редакторів
.vscode/

#Ігнорування файлів розширення .fig
*.fig

#ігнорування власної теки яка є тимчаосовою

**/_temp/*