* {
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin-inline-start: auto;
  margin-inline-end: auto;

}

header {
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* position: relative; */
  background-image: url(./images/hero_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

header section {
  position: relative;
}

.button_try {
  position: absolute;
  top: 68px;
  right: 0px;
}

.width_header {
  max-width: 1270px;
  margin-inline: auto;
}



.header_img {
  max-width: 680px;
  max-height: 480px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.header_block {
  position: relative;
  padding-top: 68px;
  padding-bottom: 71px;
}

header p {
  width: 490px;
  font-size: 18px;
  line-height: 27px;
  color: #00252E;
  margin-block: 32px;


}

.logo {
  width: 200px;
  height: 31px;
}



body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


.blockdistancetop {
  margin-top: 160px;
  margin-bottom: 40px;
}

h1 {
  width: 536px;
  font-size: 40px;
  line-height: 60px;
  color: #00252E;
  height: 120px;
  /* margin-top: 93px; */

}

.content {
  padding-top: 80px;
}


main h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 16px;
  width: 490px;
  font-size: 28px;
  line-height: 42px;
  color: #00252E;
}

main p {
  width: 490px;
  height: 81px;
  font-size: 18px;
  line-height: 27px;
  color: #808E9A;

}

main img {
  max-width: 405px;
  max-height: 330px;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.top_bot {
  padding-top: 151px;
  padding-bottom: 150px;
  padding-left: 120px;
  padding-right: 0;
}

.centre {
  margin-inline-start: auto;
  /* margin-top: 150px; */
  padding-right: 1%;
}


.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

footer {
  background-color: #00252E;
  margin-inline: auto;
  position: relative;


}

.pos_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}

.img_centre {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.button1 {
  text-decoration: none;
  display: inline-block;
  padding-block-start: 13px;
  padding-block-end: 16px;
  padding-inline-start: 63px;
  padding-inline-end: 65px;
  background: #FFFFFF;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #00252E;
  font-style: normal;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
  min-width: 200px;
}

main section {

  width: 1270px;
  height: 440px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  position: relative;
}

.footerstyle {
  max-width: 1270px;
  margin: 0 auto;
  height: auto;

}

.footerpos {
  padding-top: 144px;
  padding-left: 120px;
  padding-bottom: 64px;
  padding-right: 50px;
}

footer h2 {
  padding-inline-start: 132px;
  padding-inline-end: 127px;
  padding-block-start: 56px;
  padding-block-end: 32px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 60px;
  color: #00252E;


}

.logo_footer {
  margin-bottom: 64px;
}

.border {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
  width: 800px;
  height: 280px;
  /* margin: 0 auto; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%)
}

.text_centre {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 490px;
}

.blockdistancebot {
  margin-top: 40px;
  margin-bottom: 350px;
}



.button2 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  background: #FF52C1;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 28px;
  display: inline-block;
  padding-block: 17px 20px;
  padding-inline: 69px 70px;
  min-width: 280px;
  height: 56px;

}

footer .get_start {
  padding-inline: 200px;
  padding-block-end: 52px;
}

footer address {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.all_footer {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer_left {
  display: flex;
  max-width: 379px;
  flex-direction: column;
  gap: 16px;
}

.icon-location{
  display: flex;
  align-items: flex-start;
  gap: 17px;
}

.icon-phone{
  display: flex;
  align-items: center;
  gap: 17px;
}

.icon-email{
  display: flex;
  align-items: center;
  gap: 17px;
}


.footer_centre {
  display: flex;
  gap: 144px;
  font-size: 14px;
  line-height: 27px;

}

.footer_centre ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  min-height: 130px;

}

.footer_right ul {
  display: flex;
  gap: 11px;
}

.footer_right .copyright {
  margin-top: auto;
  font-size: 12px;
  color: #fff;
  margin-top: 16px;
}

.footer_left li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}




.button3 {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  background: #FF52C1;
  border-radius: 40px;
  display: inline-block;
  padding-block: 25px 25px;
  padding-inline: 99px 100px;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);


}

.fb{
  background-image: url(./images/fb.png);
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
}

.fb:hover{
  background-image: url(./images/facebook-h.png);
}


.twiter{
  background-image: url(./images/twit.png);
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
}

.twiter:hover{
background-image: url(./images/twit-h.png);
}


.instagram{
  background-image: url(./images/inst.png);
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
}

.instagram:hover{
  background-image: url(./images/int-h.png);
}





